@media (max-width: 467px) {
  .audio-control-bar {
    min-width: 300px;
    height: 76px;
    flex-direction: column;
    align-items: center;
    padding: 8px 0 0 0;
  }
  .audio-control-buttons {
    padding-bottom: 30px;
  }
  .progress-bar-box {
    padding: 8px 50px 14px 50px;
  }
  .volume-control {
    display: none;
  }
  .audio-control-full-width {
    height: 100px;
  }
}
