$dark-grey: #333333;
$darker-grey: #111111;
$accent-grey: #666;
$plain-grey: #999;
$light-grey: #d0d0d0;
$off-white: #f3f3f3;
$orange: #ff5500;
$slight-curve: 3px;
$lighter-grey: #ccc;
$salmon: #e4846f;
$purple-grey: #918485;
$subtle-grey: #cfcfcf;
$smoke-grey: #f2f2f2;

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.subtle-border {
  border: 1px solid rgba(0,0,0,.15);
}

.subtle-border-hover {
  border: 1px solid $lighter-grey;
}

.flex-item {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.side-column {
  flex: 2;
}

.index-column {
  border-right: 1px solid $smoke-grey;
  flex: 5;
  padding: 20px;
}
