$dark-grey: #333333;
$darker-grey: #111111;
$accent-grey: #666;
$plain-grey: #999;
$light-grey: #d0d0d0;
$off-white: #f3f3f3;
$orange: #ff5500;
$slight-curve: 3px;
$lighter-grey: #ccc;
$salmon: #e4846f;
$purple-grey: #918485;
$subtle-grey: #cfcfcf;
$smoke-grey: #f2f2f2
