.audio-control-bar {
  position: fixed;
  width: 100%;
  height: 32px;
  bottom: 0;
  background-color: $smoke-grey;
  border-top: 1px solid rgba(0,0,0,.15);
  display: flex;
  padding: 8px;
}

.audio-control-buttons {
  display: flex;
  justify-content: space-around;
  width: 150px;
  padding-top: 5px;
  align-items: baseline;
  font-size: 25px;
  color: $dark-grey;

  * {
    flex: 1;
  }
}

.last-song-button, .next-song-button {
  font-size: 20px;
  text-align: center;
}



.progress-bar-box {
  width: 300px;
  background-color: yellow;
  display: flex;
  align-items: flex-start;
  // flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 0 10px;
}

.progress-bar {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
    span {
      font-size: 11px;
      color: $orange;
    }
}

.progress-bar-detail {
  display: flex;
  align-items: flex-end;
  width: 225px;
  height: 100%;
}

.track-duration-bar {
  height: 50%;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,.15);
  margin: 0 8px;
}

.elapsed-time-ticker {
}

.bar-duration-detail {
}
