.audio-control-bar {
  margin: 0 auto;
  // width: 100%;
  // min-width: 400px;
  height: 32px;
  bottom: 0;
  display: flex;
  padding: 8px;
  justify-content: space-around;
  @extend .middle-content;
}

.audio-control-full-width {
  bottom: 0;
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: $smoke-grey;
  border-top: 1px solid rgba(0,0,0,.15);
}

.audio-control-buttons {
  display: flex;
  flex: 1;
  max-width: 130px;
  justify-content: flex-start;
  padding-top: 5px;
  align-items: baseline;
  font-size: 25px;
  color: $dark-grey;

  * {
    flex: 1;
  }
}

.last-song-button, .next-song-button {
  font-size: 20px;
  text-align: center;
}

.volume-control {
  width: 20px;
  font-size: 20px;
  padding: 7px 0;
}

.current-track-details {
  flex: 1;
  height: 100%;
}

.progress-bar-box {
  width: 300px;
  // background-color: yellow;
  display: flex;
  flex: 1;
  align-items: flex-start;
  // flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 0 50px;
}

.progress-bar {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 78%;
    span {
      font-size: 11px;
      color: $orange;
    }
}

.progress-bar-detail {
  display: flex;
  align-items: flex-end;
  max-width: 475px;
  width: 100%;
  // width: 225px;
  height: 100%;
  position: relative;
  margin: 0 8px;
  background: transparent;
  z-index: 999;
}

.track-duration-bar {
  height: 50%;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,.15);
}

.elapsed-time-bar {
  border-top: 1px solid $orange;
  height: 50%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.time-bar-circle {
  border-radius: 5px;
  position: absolute;
  top: -5px;
  right: 0px;
}

.progress-bar-detail:hover .time-bar-circle {
  border: 5px solid $orange;
}

.progress-bar-detail:hover {
  cursor: pointer;
}

.elapsed-time-ticker {
}

.bar-duration-detail {
}
