.log-in-button {
  height: 30px;
  width: 65px;
  margin-left: 35px;
  border: 1px solid $accent-grey;
  background-color: $dark-grey;
}

.log-in-button:hover {
  border-color: #e5e5e5;
}

.sign-up-button {
  @extend .reset-button;
  height: 30px;
  width: 120px;
  background-color: $orange;

}

.nav-buttons {
  height: 50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

button {
  border-radius: $slight-curve;
  // @extend .reset-button;
  color: $off-white;
  font-size: 14px;
  // font-family: 'Robot', sans-serif;
}

.splash-banner .log-in-button {
  background: rgba(0, 0, 0, 0);
}

.edit-profile-button {
  background: white;
  color: $darker-grey;
  padding: 4px 10px;
  border: 1px solid $light-grey;

  i {
    margin-right: 5px;
  }
}
