

.log-in-button {
  height: 30px;
  width: 70px;
  margin-left: 35px;
  border: 1px solid $accent-grey;
  background-color: $dark-grey;
}

.log-in-button:hover {
  border-color: #e5e5e5;
}

.sign-up-button {
  @extend .reset-button;
  height: 30px;
  width: 130px;
  background-color: $orange;

}


.big-button {
  // width: 80%;
  height: 40px;
  margin-top: 10px;
  padding: 10px;
  border-radius: $slight-curve;
  border: 1px solid $accent-grey;
  font-color: $light-grey;
  font-size: 16px;
  padding-left: 10px;
  box-sizing: border-box;
}

.nav-buttons {
  height: 50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

button {
  border-radius: $slight-curve;
  // @extend .reset-button;
  color: $off-white;
  font-size: 16px;
  // font-family: 'Robot', sans-serif;
}

.demo-log-in {
  @extend button;
  background-color: #264285;
  background-image: linear-gradient(#3857A1,#264285);
  border-color: #264285;
  color: #fff;
  margin: 0 auto;
  box-sizing: border-box;
}

.splash-banner .log-in-button {
  background: rgba(0, 0, 0, 0);
  border-color: $lighter-grey;
}

.splash-banner .log-in-button:hover {
  border-color: $smoke-grey;
}

.edit-profile-button {
  background: white;
  color: $darker-grey;
  padding: 4px 10px;
  border: 1px solid $light-grey;

  i {
    margin-right: 5px;
  }
}

.small-music-button {
  font-size: 24px;
  width: 20px;
  height: 20px;
  padding: 0 22px;
  text-align: center;
}

.small-music-button:hover {
  cursor: pointer;

}

.reg-music-button:hover {
  cursor: pointer;
}

.big-music-button:hover {
  cursor: pointer;
}

.big-music-button {
  font-size: 70px;
  width: 40px;
  height: 40px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $orange;
  background: white;
  border-radius: 40px;

  i {
    color: $orange;
  }
}

.fa:hover {
  cursor: pointer;
}
