.comment-index-column {
}

li.comment {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 20px;

  .image-circle-thumb {
    margin-right: 15px;
  }

  .comment-text {
    flex: 1
  }
}

p.comment-meta {
  color: $plain-grey;
}

p.comment-body {
  color: $dark-grey;
  margin-top: 5px;
}

.comment-time-ago > span {
  color: $plain-grey;
}
.comment-index-list {
  padding-top: 20px;
  border-top: 1px solid $smoke-grey;
}

div.comment-form {
  display: flex;

  input {
    width: 100%;
    height: 24px;
    border-radius: $slight-curve;
    outline: none;
    @extend .subtle-border;
    font-size: 14px;
    color: $plain-grey;
    padding-left: 5px;
  }

  div.image-tile-small {
    margin-right: 10px;
  }

  form.form-field {
    width: 100%;
    background-color: $smoke-grey;
    padding: 5px 13px 5px 5px;
    @extend .subtle-border;
  }

  input:focus {
    border: 1px solid $plain-grey;
    color: $dark-grey;
  }
}
