.comment-index-column {
}

li.comment {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 20px;

  .image-circle-thumb {
    margin-right: 15px;
  }

  .comment-text {
    flex: 1
  }
}

p.comment-meta {
  color: $plain-grey;
}

p.comment-body {
  color: $dark-grey;
  margin-top: 5px;
}

.comment-right > span {
  color: $plain-grey;
}
.comment-index-list {
  padding-top: 20px;
  border-top: 1px solid $smoke-grey;
}

div.comment-form {
  display: flex;

  input {
    width: 100%;
    height: 24px;
    border-radius: $slight-curve;
    outline: none;
    @extend .subtle-border;
    font-size: 14px;
    color: $plain-grey;
    padding-left: 5px;
  }

  div.image-tile-small {
    margin-right: 10px;
  }

  form.form-field {
    width: 100%;
    background-color: $smoke-grey;
    padding: 5px 13px 5px 5px;
    @extend .subtle-border;
  }

  input:focus {
    border: 1px solid $plain-grey;
    color: $dark-grey;
  }
}

div.comment-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

button.delete-comment-button {
    width: 30px;
    height: 30px;
    color: black;
}

.delete-comment {
    width: 20px;
    position: relative;
}

.delete-comment-pop-up {
    width: 180px;
    position: absolute;
    background-color: white;
    color: $dark-grey;
    right: -22px;
    @extend .subtle-border;
    border-radius: $slight-curve;
    padding: 5px;
    z-index: 999;
    box-shadow: -2px 1px 1px 1px rgba(0,0,0,0.2);

    p {
      line-height: 1.16;
    }
}

.delete-comment-buttons {
  flex-direction: row;
  justify-content: flex-end;
  display: flex;

  button {
    color: $dark-grey;
    font-size: 12px;
    @extend .subtle-border;
    padding: 2px 5px;
    margin-left: 3px;
  }

  button:hover {
    @extend .subtle-border-hover;
  }
}

.comment-thumbnails {
  display: flex;
  width: 700px;
  height: 20px;
  position: absolute;
  bottom: -25px;

  li {
    position: absolute;
    bottom: -5px;
  }

  li:hover .comment-thumb-pop-up {
    display: flex;
  }
}

.comment-thumb-pop-up {
  display: none;
  position:absolute;
  bottom: -37px;
  height: 20px;
  background: transparent;
  color: $off-white;
  font-size: 14px;
  width: 300px;
  strong {
    color: $orange
  }
}
