footer.main-footer {
  width: 100%;
  background: white;
  border-top: 1px solid $smoke-grey;
  padding-bottom: 50px;
}

footer.main-footer ul {
  font-size: 10px;
  display:  flex;
  padding: 20px;
  width: 240px;
  color: $light-grey;
  justify-content: space-between;

  a:hover {
    color: $plain-grey;
  }
}
