.modal-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // align-items: center;
}

.modal-form input, .modal-form button {
  width: 80%;
  height: 40px;
  margin-top: 10px;
  padding: 0;
  border-radius: $slight-curve;
  border: 1px solid $accent-grey;
  font-color: $light-grey;
  font-size: 16px;
  padding-left: 10px;
  box-sizing: border-box;
}

.modal-form input[type='submit'] {
  border: none;
  background-color: $orange;
  color: white;
}

.modal-form-wide {
  height: 400px
}

.modal-form-narrow {
  height: 500px;
}

.demo-log-in {
  background-color: #264285;
  background-image: linear-gradient(#3857A1,#264285);
  border-color: #264285;
  color: #fff;
}

.error-list {
  color: $orange;
  font-size: 11px;
  font-family: 'Lucida-grande', tahoma;
  width: 90%;
  margin-left: 40px;
  text-align: left;
  padding: 8px 0;
}

.form-divider {
  margin-top: 5px;
  color: $dark-grey;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-divider-line {
  width: 35%;
  border-top: 1px solid $dark-grey;
}

.form-or {
  padding: 5px;
  color: $dark-grey;
}

.edit-form {
  label {
    display: block;
    margin-top: 5px;
  }
}

.edit-form-title {
  font-size: 22;
  text-align: left;
  margin-left: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $lighter-grey;
}

.edit-form-label {
  padding-top: 10px;
}

// .edit-field-half {
//   width: 43%;
//   float: left;
// }
//
// .edit-field-half {
//   margin: 0 20px;
// }
