.modal-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // align-items: center;

}

.modal-form {
  input, button, .demo-login {
    width: 80%;
    padding: 10px;
    border-radius: $slight-curve;
    border: 1px solid $accent-grey;
    font-color: $light-grey;
    font-size: 16px;
    padding-left: 10px;
    box-sizing: border-box;
    height: 40px;
    margin-bottom: 10px;
  }
}

.modal-form input[type='submit'] {
  border: none;
  background-color: $orange;
  color: white;
}

.modal-form-wide {
  height: 400px
}

.modal-form-narrow {
  height: 500px;
}


.error-list {
  color: $orange;
  font-size: 11px;
  font-family: 'Lucida-grande', tahoma;
  width: 90%;
  margin-left: 40px;
  text-align: left;
  padding: 8px 0;
}

.form-divider {
  margin-top: 5px;
  color: $dark-grey;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-divider-line {
  width: 35%;
  border-top: 1px solid $dark-grey;
}

.form-or {
  padding: 5px;
  color: $dark-grey;
}

.edit-form {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  color: $dark-grey;

  label {
    display: block;
    margin-top: 5px;
    padding-top: 10px;
    text-align: left;
    width: 100%;
    font-size: 14px;
  }

  .error-list {
    margin-left: 28px;
  }
}

.edit-field input {
  width: 100%;
  margin: 0;
}

input.edit-field-input {
  margin-top: 10px;
  width: 100%;
  margin-right: 53px;
}

.edit-form-title {
  font-size: 22px;
  text-align: left;
  margin-left: 20px;
  padding: 10px;
  border-bottom: 1px solid $lighter-grey;
}

.edit-form input[type='submit'] {
  margin-left: 390px;
  margin-top: 0;
  text-align: center;
  width: 129px;
  padding: 0px;
  background-color: $smoke-grey;
  border: 1px solid $subtle-grey;
  color: $subtle-grey;
}

.edit-form input[type='file'] {
  border: none;
  position: absolute;
  bottom: 3px;
  right: 60px;
  color: rgba(0,0,0,0);
  width: 115px;
}

input[type='submit'].awake {
  background-color: $orange;
  border: none;
  color: white;
}

.edit-text-column {
  margin-bottom: 10px;
  margin-right: 40px;
  flex: 1;
}

.edit-image-column {
  flex: 1;
  margin-left: 30px;
  position: relative;
}

.edit-form-flex-box {
  display: flex;
  justify-content: space-between;
}

.new-track-form {
}

.delete-track-form {
  height: 140px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  color: $dark-grey;
  font-size: 14px;

  h1 {
    font-size: 22px;
    color: black;
  }

  p {
    margin: 35px 0;
  }

  div {
    align-self: flex-end;
    width: 150px;
    display: flex;
    justify-content: space-around;
  }

  span{
    padding: 8px;
    color: $dark-grey;
  }

  span:hover {
    cursor: pointer;
  }

  span:last-of-type {
    @extend .subtle-border;
    border-radius: $slight-curve;
  }

  span:last-of-type:hover {
    @extend .subtle-border-hover;
  }
}
