.image {
  background: linear-gradient(135deg, $salmon, $purple-grey);
}

.image-tile-medium {
  @extend .image;
  width: 200px;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

.image-tile-splash {
  @extend .image;
  width: 190px;
  height: 190px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.image-tile-big {
  @extend .image;
  width: 340px;
  height: 340px;
  overflow: hidden;
  cursor: pointer;
}

.image-circle-big {
  @extend .image;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  overflow: hidden;
}

.image-circle-small {
  @extend .image;
  height: 120px;
  width: 120px;
  border-radius: 60px;
  overflow: hidden;
}

.image-tile-tiny {
  @extend .image;
  height: 25px;
  width: 25px;
  overflow: hidden;
}

.image-tile-small {
  @extend .image;
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.image-tile-thumb {
  @extend .image;
  width: 40px;
  height: 40px;
  // overflow: hidden;
}

.image-circle-thumb {
  @extend .image;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
}
