.image-tile-medium {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.image-circle-big {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background: linear-gradient( 45deg, $salmon, $purple-grey);
  overflow: hidden;
}
