.image-tile-medium {
  width: 200px;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

.image-tile-big {
  width: 340px;
  height: 340px;
  overflow: hidden;
  cursor: pointer;
}

.image-circle-big {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  overflow: hidden;
}

.image-circle-small {
  height: 120px;
  width: 120px;
  border-radius: 60px;
  overflow: hidden;
}

.image-tile-small {
  width: 30px;
  height: 30px;
  overflow: hidden;
}
