.nav-logo {
  height: 44px;
  width: 140px;;
}

.header-bar {
  background-color: #333;
  width: 100%;
  min-width: 1200px;
}

.nav-bar {
  @extend .middle-content;

  margin: 0 auto;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div.search-bar {
    height: 28px;
    min-width: 354px;
    margin-left: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

div.nav-tab {
  height: 44px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-right: 1px solid black;
}

div.nav-tab:hover {
  background-color: $darker-grey;
}

.nav-bar div, span {
  color: $light-grey;
  font-size: 15px;
}

.nav-bar span {
  margin: 0 13px;
}

.nav-dropdown {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  margin-right: 20px;
}

.nav-dropdown ul {
  display: none;
  color: $lighter-grey;
}

.nav-dropdown > li {
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  color: $lighter-grey;
  /* nearest relatively positioned parent of absolute positioned child */
  cursor: pointer;
}

.nav-dropdown > li:hover {
  color: $off-white;
}

.nav-dropdown.display ul{
  top: 50px;
  right: -20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: $darker-grey;
}

.nav-dropdown.display {
  background: $darker-grey;
}

.nav-dropdown ul li {
  margin: 0;
  width: 100px;
  padding: 8px 10px;
  font-size: 14px;
}

.nav-dropdown span {
  margin: 0;
  color: $lighter-grey;
}

.nav-dropdown ul li:hover {
  background-color: $dark-grey;
  cursor: pointer;
}

.drop-down-icon {
  padding-top: 12px;
}

.nav-buttons > div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 255px;

}
div.profile-link {
  min-width: 130px;
  margin-left: 20px;
}

.nav-bar a:hover, .nav-bar div:hover {
  color: $off-white;
}

@media (max-width: 400px) {
  .header-bar {
    min-width: 0;
    width:400px;
  }
  .nav-bar {
    flex-wrap: wrap;
    height: 120px;
    justify-content: flex-start;
    min-width: 400px !important;
    div.search-bar {
      order: 1;
      margin: 0;
      flex:none;
      width:400px;
    }
    a {flex:1}
    .nav-logo {
      border-bottom: 1px solid black;
    }
  }
  .nav-buttons {
    a {
      margin: 0 10px 0 20px !important;
      flex:1;
    }
  }
  .nav-dropdown {
    margin: 0 -10px;
  }
  .nav-dropdown > li {
    height: 27px;
  }
  .nav-dropdown.display ul {
    top:27px;
    right:0;
  }
  .drop-down-icon {
    padding: 0 6px;
  }
  .nav-tab {
    border-bottom: 1px solid black;
  }
}
