.nav-logo {
  margin-left: 10px;
  height: 50px;
  width: 160px;
}

.nav-bar {
  width: 100%;
  height: 50px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar div, span {
  color: $light-grey;
  margin: 0 13px;
}

.nav-bar span {
  margin: 0 13px;
}

.nav-dropdown {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  margin-right: 20px;
}

.nav-dropdown ul {
  display: none;
}

.nav-dropdown > li {
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: $lighter-grey;
  text-align: center;
  /* nearest relatively positioned parent of absolute positioned child */
  cursor: pointer;
}

.nav-dropdown > li:hover {
  color: $off-white;
}

.nav-dropdown.display ul{
  top: 50px;
  right: -20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: $darker-grey;
}

.nav-dropdown.display {
  background: $darker-grey;
}

.nav-dropdown ul li {
  margin: 0;
  width: 100px;
  padding: 8px 10px;
}

.nav-dropdown span {
  margin: 0;
  color: $lighter-grey;
}

.nav-dropdown ul li:hover {
  background-color: $dark-grey;
  cursor: pointer;
}

.drop-down-icon {
  padding: 15px;
}

.nav-bar a:hover {
  color: $off-white;
}
