.search-bar {

  input {
    width: 350px;
    height: 28px;;
    background-color: white;
    // margin: 10px 0 ;
    font-size:14px;
    color: $dark-grey;
    border-radius: 4px;
    border-style: none;
    padding: 4px 7px;
    box-sizing: border-box;
  }

  input:active {
    border-style: none;

  }
}
