.search-bar {
  background-color: $search-bar-grey;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 570px;


  input {
    width: 100%;
    height: 28px;;
    // margin: 10px 0 ;
    border-radius: 4px;

    background-color: transparent;
    font-size:14px;
    color: $dark-grey;
    border-style: none;
    padding: 4px 7px;
    box-sizing: border-box;
  }

  input:active {
    border-style: none;

  }

  i {
    padding: 0 10px;
    color: $dark-grey;
  }
}

.search-drop-down {
    position: absolute;
    background-color: $darker-grey;
    width: 100%;
    top: 28px;
    border-radius: 5px;
    z-index: 999;
}

.show-query {
  padding: 10px;
  background-color: $dark-grey;
  color: $light-grey;
}

.show-query:hover {
  background-color: #222222;
  color: $search-bar-grey;
  cursor: pointer;
}

ul.search-result-list {
  li {
    padding: 10px 5px;
    color: $plain-grey;
  }

  li:hover {
    background-color: $dark-grey;
  }

  i {
    color: $plain-grey;
    padding-left: 10px;
  }
}
