.splash-main {
  margin: 0 auto;
  background-color: white;
  // width: 1100px;
}

.splash-banner {
  margin: 0 auto;
  display: block;
  // width: 1100px;
  height: 450px;
  overflow: hidden;
  background-image: url('https://s3.amazonaws.com/seeds-source/banner_dancer.jpg');
  background-size: cover;
  background-position: top;
  border-top: 4px solid $orange;
  position: relative;
}

.splash-header {
  height: 145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  z-index: 1;

  .sign-up-button {
    margin-left: 17px;
    z-index: 1;
  }
  div {
    z-index: 1;
    display: flex;
  }
}

section.splash-search {
  margin: 30px;
  display: flex;
  align-items: center;
  // width: 1100px;

  input {
    width: 100%;
    max-width: 570px;
    min-width: 150px;
    height: 40px;
  }

  span {
    color: $dark-grey;
    margin: 0 20px;
  }
}

@media (max-width: 1049px) {
  div.image-tile-splash {
    width: 150px;
    height: 150px;
  }
  li.splash-track-tile {
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .splash-track-detail {
    width: 150px;
  }
}

@media (max-width: 649px) {
  section.splash-search {
    flex-direction: column;
    .search-bar {
      width: 450px;
    }
    span { margin: 10px 0; }
  }
  ul.splash-track-list {
    width: 420px;
  }
}

section.splash-track-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;

  h1 {
    font-size: 24px;
    color: $dark-grey;
  }
}

.splash-upload-button {
  color: $dark-grey;
  padding: 7px 12px;
  @extend .subtle-border;
  border-radius: $slight-curve;
}

.splash-upload-button:hover {
  @extend .subtle-border-hover;
}

.orange-fade {
  position: absolute;
  height: 450px;
}

.orange-fade-left {
  width: 120px;
  @extend .orange-fade;
  background: linear-gradient(90deg, $orange, rgba(255, 0, 0, 0));
}

.orange-fade-right {
  width: 70px;
  @extend .orange-fade;
  right: 0;
  top: 0;
  background: linear-gradient(-90deg, rgba(255,85,0, .5), rgba(255, 0, 0, 0));
}

.purple-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(rgba(255,85,20, .5), rgba(255, 0, 255, 0));
}

ul.splash-track-list {
  // width: 1050px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 20px 20px;

}

li.splash-track-tile {
  margin-right: 20px;
  margin-bottom: 30px;
}

.splash-track-detail {
  width: 190px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 3px;

  strong {
    display: inline-block;
    color: $dark-grey;
    margin: 4px 0;
  }

  span {
    color: $plain-grey;
  }
}

.splash-play-button {
  display: flex;
  opacity: 0;
  color: $orange;
  position: absolute;
  font-size: 70px;
  top: 40%;
  left: 40%;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  transition: opacity .2s linear;
}

.image-tile-splash:hover .splash-play-button{
  opacity: 1;
}

section.splash-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $darker-grey;
  padding: 50px;
  border-top: 1px solid rgba(0,0,0,.15);

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 26px;
    margin: 30px;
  }

  .sign-up-button {
    margin: 20px 0 40px 0;
    padding: 7px 0;
    height: 43px;
  }

  span {
    color: $dark-grey;
  }

  .log-in-button {
    background-color: white;
    color: $dark-grey;
    @extend .subtle-border;
  }

  .log-in-button:hover {
    @extend .subtle-border-hover;
  }
}
