.splash-banner {
  margin: 0 auto;
  display: block;
  width: 1080px;
  height: 450px;
  overflow: hidden;
  background-image: url('https://s3.amazonaws.com/seeds-source/banner_dancer.jpg');
  background-size: cover;
  background-position: top;
  border-top: 4px solid $orange;
  position: relative;
}

.splash-header {
  height: 145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  z-index: 1;

  .sign-up-button {
    margin-left: 14px;
    z-index: 1;
  }
  div {
    z-index: 1;
  }
}


.orange-fade {
  position: absolute;
  height: 450px;
}

.orange-fade-left {
  width: 120px;
  @extend .orange-fade;
  background: linear-gradient(90deg, $orange, rgba(255, 0, 0, 0));
}

.orange-fade-right {
  width: 70px;
  @extend .orange-fade;
  right: 0;
  top: 0;
  background: linear-gradient(-90deg, rgba(255,85,0, .5), rgba(255, 0, 0, 0));
}

.purple-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(rgba(255,85,20, .5), rgba(255, 0, 255, 0));
}
