.track-banner {
  background: linear-gradient( 135deg, #874648,#235);
  height: 380px;
  display: flex;
  justify-content: space-between;

  h1 {
    padding: 7px;
  }

  div h2 {
    padding: 5px;
    color: $lighter-grey;
  }
}

.track-image {
  @extend .image-tile-big;
  margin: 20px;
}

.track-header {
  @extend .user-info;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.track-view-main {
  @extend .user-view-main;

  .track-stats {
    margin-left: 20px;
  }
}

.track-main-column {
  @extend .index-column;
  padding-left: 0;
}

.track-side-column {
  @extend .side-column;
}

.track-main-container {
  @extend .flex-row;
  align-items: flex-start;
  border-top: 1px solid $smoke-grey;
  padding-top: 20px;
  margin: 20px;
}
.track-show-artist-tile {
  @extend .flex-column;
  align-items: center;
  flex: 1;
  min-width: 120px;
  margin-right: 20px;

  span {
    color: $accent-grey;
    font-size: 14px;
  }

  span:hover {
    color: black;
  }
  a {
    margin-top: 5px;
    text-align: center;
  }
}

.comments-index {
  flex: 3;
}

.comment-count {
  color: $plain-grey;
  margin-bottom: 10px;

  i {
    margin: 0 5px 0 3px;
  }

  span {
    color: $plain-grey;
    font-size: 14px;
  }
}
