

.track-index-column {
  // padding: 15px;

  background-color: white;
}

.track-index-item {
  height: 230px;
  padding: 15px 0;

  // .image-tile-medium {
  //   margin-top: 10px;
  // }
}

.track-index-item-flex {
  display: flex;
}

.track-details {
  margin-left: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.waveform-small {
  flex: 1;
  height: 80px;
}

.track-stats {
  flex: 1;
  height: 30px;
}
.track-item-info {
  display: flex;
  flex-direction: column;
  // padding-top:

  h2 {
    font-size: 14px;
    color: $plain-grey;
    padding: 5px 0;
  }

  h3 {
    font-size: 18px;
    color: $darker-grey;
  }
}

.index-play-button {
  i {
    font-size: 50px;
    color: $orange;
  }
  padding-right: 5px;
}

.track-item-top {
  display: flex;
  padding: 10px 10px 10px 0;
}

.track-stats {
  justify-content: space-between;
  align-items: flex-end;
  font-size: 13px;

  .fa-play, .fa-comment, span {
    color: $plain-grey;
  }
}


.track-stats-right {
  padding-bottom: 6px;
  @extend .flex-row;
  width: 75px;
  justify-content: space-around;

  .fa-play:hover {
    cursor: default;
  }

  a:hover span{
    color: $dark-grey;
  }

  a {
    flex: 1;
    justify-content: space-around;
  }

  .fa-heart {
    color: $plain-grey;
    padding: 0 7px 0 13px;
    cursor: default;
  }
}

.track-stats-left {
  button {
    color: black;
    @extend .subtle-border;
    height: 27px;
    width: 60px;
    padding: 0 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-right: 5px;

    span {
      color: black;
    }
  }

  button, span {
    font-size: 14px;
  }

  button:hover {
    @extend .subtle-border-hover;
  }

  button.delete-track-button {
    width: 110px;
  }
}

.waveform-small {
  margin-top: 25px;
  height: 40px;
  width: 100%;
}

.waveform-tall {
  height: 100px;
  margin: 20px auto;
  padding-left: 20px;
}

canvas {
  cursor: pointer;
}
