.user-banner {
  background: linear-gradient( 135deg, $purple-grey,$salmon);
  height: 260px;
  display: flex;
}

.user-image {
  @extend .image-circle-big;
  margin-top: 30px;
  margin-left: 15px;
}

.user-info {
  margin: 20px;
  display: flex;
  flex-direction: column;

  div {
    color: $off-white;

    h1, h2 {
      background: rgba(0, 0, 0, .8);
      padding: 10px;
      margin-bottom: 5px;
      display: inline-block;
    }

    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 18px;
    }
  }
}

.user-nav {
  @extend .section-nav;
  margin: 0 20px 10px 20px;
}

.user-view-tabs {
  @extend .section-tabs;
  margin-top: 20px;
}

.user-view-tabs span {
  font-size: 18px;
  height: 40px;
  color: black;
  display: inline-block;
  cursor: pointer;
}

.user-view-tabs span.selectedTab {
  @extend .selected-tab
}

.user-view-main {
  display: flex;
}

.user-tracks-column {
  flex: 2;
}

.user-side-column {
  flex: 1;
}
