@import "base/globals.scss";
@import "styles/nav_bar.scss";
@import "base/normalize.scss";
@import "styles/form.scss";
@import "styles/modal.scss";
@import "styles/splash.scss";
@import "styles/buttons.scss";
@import "styles/user_view";
@import "styles/browse";
@import "styles/images";
@import "styles/section_nav";
@import "styles/tracks";
@import "styles/audio_controls";
@import "styles/search_bar";
@import "styles/upload";
@import "styles/track_view";
@import "styles/comments";

.middle-content {
  width: 95%;
  max-width: 1240px;
  min-width: 900px;
}

.main-content {
  @extend .middle-content;
  margin: 0 auto;
  background-color: white;
}

body {
  background-color: $smoke-grey;
}
