@import "base/globals.scss";
@import "styles/nav_bar.scss";
@import "base/normalize.scss";
@import "styles/form.scss";
@import "styles/modal.scss";
@import "styles/splash.scss";
@import "styles/buttons.scss";
@import "styles/user_view";
@import "styles/browse";
@import "styles/images";
@import "styles/section_nav";
@import "styles/tracks";
@import "styles/audio_controls";

.main-content {
  margin: 0 13px;
  background-color: white;
}

body {
  background-color: $smoke-grey;
}
